*{
box-sizing: border-box;
}
header{
  background-color: #464646;
  height: 35px;
  padding: .5%;
}
.box1{
  height: 350px;
  background-color: #464646;
}
.box2{
  height: 250px;
  padding: 3% 31% 0% 21%

}
.box3{
  height: 450px;
  background-color: darkgrey;
}
.first{
  width: 50%;
  float: left;
  padding: 3% 2% 0% 15%
}
.second{
  width: 50%;
  float: left;
  padding: 3% 2% 0% 15%
}
.box4{
  height: 250px;
  padding: 2% 27% 2% 35%

}
footer{
  background-color: black;
  height: 200px;
  padding: 2%;
}
.greybox{
  width: 65%;
  height: 150px;
  background-color: #464646;

}
.veryCherry{
  border: solid;
  width: 17%;
  height: 35px;
  padding-left: 3%;
  padding-top: 6.5px;
}
.large{
  margin-top: 0px;
  color: white;
  font-size: 53px;
  padding: 1% 5% 0% 19%
}
span{
  text-align: center;
}
.white{
  color: white;
  padding: 1% 29% 2% 20%;
}
.watch{
  color: white;
  padding: 1% 29% 2% 41%;
  text-decoration: none;
}
button{
  float: right;
  width: 5%;
  height: 25px;
  padding-top: .5%;
  padding-right: 3%;
}
img{
  width: 2%;
}
header+a,a{
  color: white;
}
h2{
  text-align: center;
}
.hamburger{
  display: none;
}
.tiny{
  float:right;
  color: white;
}
@media (max-width: 500px){
  header{
    background-color: #464646;
    height: 35px;
    padding: .5%;
  }
.large{
  font-size: 52px;
}
  .icon{
    display: run-in;
  }
  p.white{
    display: none;
  }
  a{
    display: none;
  }
  .hamburger{
    display:run-in;
  }

  .box1{
    height: 350px;
    background-color: #464646;
  }
  .box2{
    height: 250px;
    padding: 3% 31% 0% 21%;
    display:none;

  }
  .box3{
    height: 450px;
    background-color: darkgrey;
    display: none;
  }
  .first{
    width: 50%;
    float: left;
    padding: 3% 2% 0% 15%;
    display: none;
  }
  .second{
    width: 50%;
    float: left;
    padding: 3% 2% 0% 15%;
    display: none;
  }
  .box4{
    height: 490px;
    padding: 2% 27% 2% 35%;


  }
  footer{
    background-color: black;
    height: 200px;
    padding: 2%;
    clear: both;
  }
  .greybox{
    width: 65%;
    height: 150px;
    background-color: #464646;

  }
  .veryCherry{
    border: solid;
    width: 45%;
    height: 35px;
    padding-left: 3%;
    padding-top: 6.5px;
  }
  .large{
    margin-top: 0px;
    color: white;
    font-size: 53px;
    padding: 1% 5% 0% 19%
  }
  span{
    text-align: center;
  }
  .white{
    color: white;
    padding: 1% 29% 2% 20%;
  }
  .watch{
    color: white;
    padding: 1% 29% 2% 41%;
    text-decoration: none;
  }
  button{
    float: right;
    width: 5%;
    height: 25px;
    padding-top: .5%;
    padding-right: 3%;
  }
  img{
    width: 2%;
  }
  header+a,a{
    color: white;
  }
  h2{
    text-align: center;
  }
  }
  .tiny{
    float:right;
    color: white;
  }
}

@media (max-width: 1050px){
  header{
    background-color: #464646;
    height: 35px;
    padding: .5%;
  }

.sec{
  display: none;
}
  .icon{
    display: run-in;
  }
  p.white{

  }
  a{
  display: none;
  }
  .hamburger{
    display:run-in;
  }

  .box1{
    height: 350px;
    background-color: #464646;
  }
  .box2{
    height: 250px;
    padding: 3% 31% 0% 21%;
    display:none;

  }
  .box3{
    height: 450px;
    background-color: darkgrey;
    display: none;
  }
  .first{
    width: 50%;
    float: left;
    padding: 3% 2% 0% 15%;

  }
  .second{
    width: 50%;
    float: left;
    padding: 3% 2% 0% 15%;

  }
  .box4{
    height: 490px;
    padding: 2% 27% 2% 35%;


  }
  footer{
    background-color: black;
    height: 200px;
    padding: 2%;
    clear: both;
  }
  .greybox{
    width: 65%;
    height: 150px;
    background-color: #464646;

  }
  .veryCherry{
    border: solid;
    width: 45%;
    height: 35px;
    padding-left: 3%;
    padding-top: 6.5px;
  }
  .large{
    margin-top: 0px;
    color: white;
    font-size: 53px;
    padding: 1% 5% 0% 19%
  }
  span{
    text-align: center;
  }
  .white{
    color: white;
    padding: 1% 29% 2% 20%;
  }
  .watch{
    color: white;
    padding: 1% 29% 2% 41%;
    text-decoration: none;
  }
  button{
    float: right;
    width: 5%;
    height: 25px;
    padding-top: .5%;
    padding-right: 3%;
  }
  img{
    width: 2%;
  }
  header+a,a{
    color: white;
  }
  h2{
    text-align: center;
  }
  a{
    display: run-in;
  }
  }
  .tiny{
    float:right;
    color: white;
  }
}
